In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 100)
%matplotlib inline
df=pd.read_csv("novel-corona-virus-2019-dataset/2019_nCoV_data.csv")
df.head()

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,01/22/2020 12:00:00,1.0,0.0,0.0
1,2,01/22/2020 12:00:00,Beijing,China,01/22/2020 12:00:00,14.0,0.0,0.0
2,3,01/22/2020 12:00:00,Chongqing,China,01/22/2020 12:00:00,6.0,0.0,0.0
3,4,01/22/2020 12:00:00,Fujian,China,01/22/2020 12:00:00,1.0,0.0,0.0
4,5,01/22/2020 12:00:00,Gansu,China,01/22/2020 12:00:00,0.0,0.0,0.0

In [3]:
df.describe()

               Sno     Confirmed       Deaths    Recovered
count  1719.000000   1719.000000  1719.000000  1719.000000
mean    860.000000    454.596859    10.441536    44.361838
std     496.376873   3712.529032   106.638286   351.078713
min       1.000000      0.000000     0.000000     0.000000
25%     430.500000      2.000000     0.000000     0.000000
50%     860.000000     12.000000     0.000000     0.000000
75%    1289.500000    109.000000     0.000000     7.000000
max    1719.000000  59989.000000  1789.000000  7862.000000

In [30]:
conda install -c conda-forge pandas-profiling

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [40]:
! conda install -c conda-forge pandas-profiling

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [46]:
# import sys
# !{sys.executable} -m pip install pandas-profiling

In [47]:
from pandas_profiling import ProfileReport

profile = ProfileReport(df, title='Pandas Profiling Report', 
                        html={'style':{'full_width':True}})

In [48]:
# explore report in notebook
profile.to_widgets()
# save report

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=22.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render widgets', max=1.0, style=ProgressStyle(description…

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…